BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: true
InsertBraces: true
